<div class="covering">

    <div class="dashboard">
        <div class="heading">Your Expenses</div>
        <form action="/expenses/search" role="search" method="post" class="search">
            <input type="search" name="searchexpense" class="searchinput" placeholder="Search by Category" aria-label="Search">
        </form>
        <button> <a href="/expenses/categorylimits">+New Category</a></button>
        <button> <a href="/expenses/addexpense">+New Expense</a></button>
        <button> <a href="/expenses/calendarexpense">Calendar View</a></button>
    </div>
    
    <div class="link"> <a href="/">Dashboard</a> / Expenses</div>

    <div class="assignmenttable">
    <table>
        <thead>
        <tr>
          <th >Expense Name</th>
          <th> Category</th>
          <th> Amount</th>
          <th> Date</th>
          <th>Manage Expenses</th>
        </tr>
    </thead>

    <tbody>
        <% expensesdata.forEach(element => { %>
            <tr>
                <td><%= element.expense %></td>
                <td><%= element.category %></td>
                <td><%= element.amount %> Rs</td>
                <td><%= (element.date).toLocaleDateString() %></td>
                <td>
                    <div class="buttons">
                        <a href="/expenses/view/<%= element._id %>" >View</a>
                        <a href="/expenses/edit/<%= element._id %>">Edit</a>
                        <a href="/expenses/delete/<%= element._id %>">Delete</a>
                </div>
                </td>
            </tr>
        <% }) %>
    </tbody>
        
      </table>
    </div>
</div>

